<!DOCTYPE html>
<html>
<head>
  <title>Bud</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
    <% if notice.present? %>
        <aside class="alert alert-info">
            <%= notice %>
        </aside>
    <% end %>
    <% if alert.present? %>
        <aside class="alert alert-danger">
            <%= alert %>
        </aside>
    <% end %>
    
    <article ng-app="bud" ng-controller="MainCtrl">
    <header class="page-header">
        <h4 class="pull-right">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        </h4>
        <h1 class="h2">Budget Dashboard</h1>
    </header>
    
    <%= yield %>

</body>
</html>
